body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
button#auth-action-btn {
  margin-top: 8px;
}
#user-info-section table {
  margin-top: 10px;
  background-color: white;
}
#user-info-section table tr td:first-child {
  width: 10px;
  text-align: right;
  font-weight: bold;
}
#user-picture {
  margin-left: 25%;
}
